// Argument Install

.app-stores {
  display: flex;
  flex-wrap: wrap;
  gap: $space-8;
  margin-top: $space-16;

  &__btn {
    background: $color-black;
    color: $color-white;
    gap: $space-4;
    padding: $space-2 $space-6;
    text-decoration: none;

    &:hover {
      background: lighten($color-black, 20%);
      color: $color-white;
    }
  }

  &__icon {
    color: $color-white;
    font-size: var(--font-size-xl);
  }

  &__text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: var(--text-micro);
    line-height: 1;
    margin-bottom: $space-1;
    opacity: 0.7;
  }

  &__store {
    font-size: var(--font-size-md);
    font-weight: $font-weight-semibold;
    line-height: 1;
  }
}

.section--install {
  @include bp-down(lg) {
    .app-stores {
      margin-top: $space-2;
    }
  }
}
